{% extends 'base.html' %}
{% block title %}New Tooling (Batch)# {% endblock %}

{% block content %}
<h1 class="mb-3">Создать BATCH #</h1>
<form method="post" class="row g-3">
  <div class="col-12 col-md-4">
    <label class="form-label">BATCH # *</label>
    <input name="tool_code" class="form-control" placeholder="например IH-27" required>
  </div>
  <div class="col-12 col-md-4">
    <label class="form-label">Тип *</label>
    <input name="type_code" class="form-control" placeholder="IRON-Ø63" required>
  </div>
  <div class="col-12">
    <button class="btn btn-primary">Сохранить</button>
    <a class="btn btn-outline-secondary" href="{{ url_for('tooling.list_tooling') }}">Отмена</a>
  </div>
</form>
{% endblock %}
